[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=FileSpector
Comment=Find text occurrences in multiple files
Categories=Utility;TextEditor;

Icon=/usr/share/filespector/filespector.ico
Exec=filespector
Terminal=false
