[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FileCruncher
Categories=Utility;TextEditor;
Comment=Find text occurences in multiple files
Exec=/usr/bin/filecruncher
Icon=/usr/share/filecruncher/filecruncher.ico
Terminal=false
