[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FileSpector
Categories=Utility;TextEditor;
Comment=Find text occurences in multiple files
Exec=/usr/bin/filespector
Icon=/usr/share/filespector/filespector.ico
Terminal=false
